@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 22px;
}

body {
  font-family: Lato, sans-serif;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}


/* Global Layout */
.content-container {
  width: 2000px;
  margin: 0 auto;
}

@media (max-width: 2040px) {
  .content-container {
    width: 1600px;
  }
}

@media (max-width: 1040px) {
  .content-container {
    width: 96%;
  }
}


/* Global Type */
p {
  max-width: 500px;
}